
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #f8f9fc;
}

section {
  padding: 60px 80px;
}

h2 {
  text-align: center;
  font-size: 34px;
  margin-bottom: 40px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

.project-card {
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 8px 25px rgba(0,0,0,0.08);
  text-align: center;
}

.project-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.project-card h3 {
  color: #007bff;
  margin: 15px 0 5px;
}

.project-card p {
  color: #666;
  font-size: 14px;
}

.project-card button {
  background: #ff7a18;
  color: white;
  border: none;
  padding: 10px 22px;
  border-radius: 6px;
  margin: 15px 0 20px;
  cursor: pointer;
}

.clients-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 25px;
}

.client-card {
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 8px 25px rgba(0,0,0,0.08);
}

.client-card img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

.client-card p {
  font-size: 13px;
  color: #666;
}

.client-card b {
  display: block;
  margin-top: 10px;
  color: #007bff;
}

.contact-wrapper {
  display: flex;
  justify-content: center;
}

.contact-box {
  background: #4f5d8b;
  padding: 40px;
  width: 350px;
  border-radius: 12px;
  box-shadow: 0 12px 35px rgba(0,0,0,0.2);
}

.contact-box h2 {
  color: white;
  margin-bottom: 20px;
}

.contact-box input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: none;
  outline: none;
}

.contact-box button {
  width: 100%;
  padding: 12px;
  background: #ff7a18;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.newsletter {
  background: #1e73ff;
  padding: 60px 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
  border-radius: 12px;
}

.newsletter input {
  padding: 14px;
  max-width: 400px;
  margin-right: 10px;
  width: 100%;
  border-radius: 6px;
  border: none;
}

.newsletter button {
  padding: 14px 30px;
  max-width: 400px;
  width: 100%;
  border: none;
  background: white;
  color: #1e73ff;
  border-radius: 6px;
  cursor: pointer;
}

.hero {
  background: linear-gradient(to right, #0b5ed7, #0dcaf0);
  color: white;
  padding: 80px 20px;
  text-align: center;
}

.hero h1 {
  font-size: 42px;
  margin-bottom: 15px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 25px;
}

.hero button {
  padding: 12px 30px;
  border: none;
  background: #ffc107;
  border-radius: 6px;
  cursor: pointer;
}
